<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <!-- Aqui você pode incluir o cabeçalho do e-mail -->
    </header>
    <main>
        <!-- Aqui será inserido o conteúdo específico de cada e-mail -->
        {{{body}}}
    </main>
    <footer>
        <!-- Aqui você pode incluir o rodapé do e-mail -->
    </footer>
</body>
</html>
